
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
/*--------------------------------------
||HERO SETION START||
----------------------------------------*/
section{
    overflow: hidden;
    padding-bottom: 40px;
}

.hero_section {
    background-image: url(/image/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.common_contant{
    width: 50%;
    float: left;
    padding-top: 115px;
}

.common_img{
    width: 50%;
    float: left;
    padding-top: 70px;
}

.common_img img{
    width: 100%;
    vertical-align: middle;
}

.common_contant h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.common_contant h1 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 800;
    padding: 16px 0px;
}

.common_contant span {
    color: crimson;
}

.common_contant h3 {
    font-size: 26px;
    font-weight: 600;
}

.common_contant p {
    font-size: 18px;
    padding: 20px 0;
}

.button .btn {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: crimson;
    text-decoration: none;
    background: black;
    padding: 12px 34px;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
    border: 1px solid black;
    
}

.button .btn:hover {
    background: white;
    color: black;
    
}

/*--------------------------------
||HERO SETION END||
----------------------------------*/
/*---------------------------------
||ABOUT SETION START||
-----------------------------------*/
.pl-30{
    padding-left: 30px;
}

.about_section{
    background-image: url(/image/dream-bg.png);
    background-repeat: no-repeat;
    background-position:center right;
}

/*-----------------------------------
||ABOUT SETION END||
-------------------------------------*/
/*------------------------------------
||EXPERIENCE SETION START||
--------------------------------------*/
.experiences{
    background: url(/image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 50px;
}

.experience_box.box_one {
    float: left;
    width: 45%;
}

.experience_box {
    width: 45%;
    float: right;
    box-shadow: 5px 7px 40px grey;
    height: 300px;
    padding: 30px;
}

.experience_box h2 {
    font-size: 30px;
    font-weight: 800;
}

.experience_box h3 {
    font-size: 22px;
    padding: 10px 0;
    color: crimson;
}

#box_border_one {
    border-left: 7px solid crimson;
}

#box_border_tow {
    border-left: 7px solid #26e726;
}
/*-----------------------------------
||EXPERIENCE SETION END||
--------------------------------------*/
/*------------------------------------
||FOOTER||
--------------------------------------*/
.copyright p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 30px 0;
    cursor: pointer;
}


